


<div class="row">
    <div class="container">
        <div class="header">
            OUR SERVICES
    </div>
        <div class="row">
            <div class="col-sm-4">
          
          
              <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>Consultant</mat-card-title>
                  <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="assets/imgs/consultant.jpg">
                <mat-card-content>
                  <p>
                      A consultant is a professional who provides expert advice in a particular area such as security (electronic or physical), management, education, accountancy....
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>KNOW MORE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col-sm-4">
          
          
              <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>Affirmative Action Plans</mat-card-title>
                  <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="assets/imgs/affermative.jpg">
                <mat-card-content>
                  <p>
                      HR Works, Inc. provides a comprehensive suite of affirmative action services to assist you in all phases of affirmative action compliance. <br><br> 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>KNOW MORE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col-sm-4">
          
          
              <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>HRMS Technology</mat-card-title>
                  <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="assets/imgs/HRMS-Technology.jpg">
                <mat-card-content>
                  <p>
          
                      HToday, more than ever, with increased reporting and compliance requirements, investing in the right Human Resource Management System (HRMS) pays dividends for your entire organization. 
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>KNOW MORE</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
            
            
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>Consultant</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                  </mat-card-header>
                  <img mat-card-image src="assets/imgs/consultant.jpg">
                  <mat-card-content>
                    <p>
                        A consultant is a professional who provides expert advice in a particular area such as security (electronic or physical), management, education, accountancy....
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>KNOW MORE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-sm-4">
            
            
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>Affirmative Action Plans</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                  </mat-card-header>
                  <img mat-card-image src="assets/imgs/affermative.jpg">
                  <mat-card-content>
                    <p>
                        HR Works, Inc. provides a comprehensive suite of affirmative action services to assist you in all phases of affirmative action compliance. <br><br> 
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>KNOW MORE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-sm-4">
            
            
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>HRMS Technology</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                  </mat-card-header>
                  <img mat-card-image src="assets/imgs/HRMS-Technology.jpg">
                  <mat-card-content>
                    <p>
            
                        HToday, more than ever, with increased reporting and compliance requirements, investing in the right Human Resource Management System (HRMS) pays dividends for your entire organization. 
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>KNOW MORE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
    </div>
  </div>
  